:root{
    
    --antique: #d7bea8;
    --pink: #ca787a; 
    --burgundy: #4d2734;
    --earth: #b28f75;
    --bright: #ffa5a7;
    --lemon: #ffc66b;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Latin Modern Mono', 'Times New Roman';
    text-decoration-skip-ink: none;
}


/**********************************************************
                    H O M E P A G E
**********************************************************/

#wrapper-home{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    
}

.navbar{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 90px;
    background-color: var(--antique);
    z-index: 3;
}


.logo{
    font-family: 'Latin Modern Mono Slanted' !important;
    color: var(--burgundy);
    flex: 2;
    font-size: 28px;
    min-width: 250px;
    padding: 20px;
    padding-top:10px;
    text-decoration: underline 4px;

}

.nav-options{
    font-family: 'Latin Modern Mono' !important;
    text-decoration: none;
    color: var(--burgundy);
    padding: 20px;
    font-size: 24px;
    min-width: 130px;
    text-align: center;
}

.nav-options:hover{
    color: var(--pink);
    transition: 0.2s ease-in-out;

}

.icon{
    font-size: 40px;
    padding-left: 0;
    padding-right: 0;
    min-width: 100px;
}


.navbar a:nth-of-type(5){
    min-width: 200px;
    border: 2px solid var(--burgundy);
    padding: 15px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: var(--pink);
}

.navbar a:nth-of-type(5):hover{
    color:var(--burgundy);
    background-color:var(--bright);
    transition: 0.2s ease-in-out;
}

.navbar a:nth-of-type(4){
    text-decoration: underline solid 2px;
    margin-right: 20px;
}


.body-home {
    background-color: var(--antique);
}

.hero{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    padding-top: 30px;
}

.slanted{
    font-family: 'Latin Modern Mono Slanted' !important;
}

.highlight{
    color: var(--pink) !important;
}

.body-home{
    height: 100vh;
    width: 100vw;
}

.heading{
    font-size: 65px;
    color: var(--burgundy);
    justify-content: center;
    height: auto;
    text-align: center;
    position: relative;
    font-weight: 400;
}

.notion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    text-align: center;
    height: auto;
    color: var(--burgundy);
    font-size: 32px;
    margin:auto;
    padding: 30px;

}


.text-box{
    align-items: center;
    justify-content: center;
    margin:auto;
    position: relative;
    width: 55vw;
    border: 4px solid var(--burgundy);
    border-radius: 30px;
    padding: 20px;
    color: var(--burgundy);
    box-shadow: 12px 12px 0px var(--pink), 15px 15px 0px var(--burgundy);
    transform: scale(0.9);
    background-color: var(--antique);
    
}


.text-box  p {
    margin: auto;
    height: auto;
    width: 90%;
    text-align: left;
    justify-content: center;
    position: relative;
    font-size: 22px;
    padding-top: 30px;

}

.resume{
    min-width: 200px;
    width: 100px;
    text-align: center;
    border: 2px solid var(--burgundy);
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    background-color: var(--pink);
}

.resume-link{
    text-decoration: none;
    color: var(--burgundy);
    margin: 15px;
    font-size: 20px;
}

.resume:hover{
    color:var(--burgundy);
    background-color:var(--bright);
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 750px){
    .logo{
        font-size: 20px;
        min-width: 150px;
    }

    .nav-options{
        font-size: 15px;
        min-width: 50px;
        padding: 0;
        
    }

    .navbar a:nth-of-type(4){
        font-size: 18px;
    }

    .navbar a:nth-of-type(3), .navbar a:nth-of-type(2){
        font-size: 30px;   
        margin-right: 5px;
    }

    .navbar a:nth-of-type(5){
        font-size: 15px;
        margin:0;
        min-width: 150px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .resume{
        min-width: 130px;
    }

}

@media screen and (max-width:400px){

    .text-box p {
        font-size: 18px;
    }

    .text-box p:nth-of-type(3), .navbar a:nth-of-type(2) {
        font-size: 20px;
    }

    .navbar a:nth-of-type(4){
        font-size: 14px;
    }

    .navbar a:nth-of-type(5){
        font-size: 10px;
        margin:0;
        min-width: 50px;
        margin-right: 10px;
    }

    .resume{
        min-width: 80px;
    }
}


@keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
.gradient {
background: linear-gradient(
    to right,
    var(--pink) 10%,
    var(--lemon) 50%,
    var(--pink) 80%
);

-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 500% auto;
animation: textShine 1.5s ease-in-out 2 alternate;
}


/***************************
    SKILLS SECTION
***************************/


/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);

    /* Same gradient as text */ 
    background-image: linear-gradient(45deg, var(--pink), var(--pink));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
            background-clip: text; 
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
            background-clip: text; 
    -moz-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
    }
  
.skills{
    background: rgb(202,120,122);
    background: linear-gradient(90deg, rgba(202,120,122,1) 2%, rgba(255,198,107,1) 133%);
    height: auto;
    min-height: 150px;
    width: 100%;
    margin-top: 150px;
    position: relative;
    color: (--burgundy);
}


.skill-wrapper{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 10px;
    padding-top: 40px;
    height: 100%;
    font-size: 50px;
    position: relative;
}

.skill-icons{
    font-size: 60px;
    color: var(--burgundy);
}

.skills i{
    padding-bottom: 18px;
}

.skills h1{
    color: var(--burgundy);
}

@media screen and (max-width: 750px){
    .skills h1 {
        font-size: 30px;
    }

    .skill-icons{
        font-size: 35px;
    }
}

@media screen and (max-width: 400px){
    .skills h1 {
        font-size: 20px;
    }

    .skill-icons{
        font-size: 25px;
    }
}

.gradient-unanimated {
    background: linear-gradient(
        to right,
        var(--bright) 10%,
        var(--lemon) 30%,
        var(--bright) 60%
    );
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
}


/***************************
    RESUME SECTION
***************************/


.resume-section{
    width: 100%;
    height: auto;
    min-height: 200px;
    background-color: var(--antique);
    margin-top: 100px;
    margin-bottom: 100px;
}

.resume-section h1{
    font-size: 40px;
    width: 50vw;
    padding-bottom: 50px;
    color: var(--burgundy);
    margin: auto; 
    text-align: center;
}

.resume-links{ 
    width: 70%;
    margin: auto;
    text-align: center;
}


.resume-links a{
    text-decoration: none;
    background-color: var(--pink);
    padding: 20px;
    border-radius: 15px;
    border: solid 3px var(--burgundy);
    width: auto;
    max-width: 250px;
    height: auto;
    margin: auto;
    font-size: 30px;
    color: var(--burgundy);
    display: block;
    margin-top: 50px;
    position: relative;
}

.resume-links a:hover{
    background-color: var(--bright);
    transition: 0.2s ease-in-out;
}

.resume-links a:nth-of-type(2){
    margin-bottom: 50px;
}

@media screen and (max-width: 750px){
    .resume-links a {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px){
    .resume-links a {
        font-size: 14px;
    }
}


/***************************
    PROJECTS SECTION
***************************/

.projects-section{
    width: 100%;
    height: auto;
    background: rgb(202,120,122);
    background: linear-gradient(270deg, rgba(202,120,122,1) 2%, rgba(255,198,107,1) 133%);
    font-size: 18px;
}

.project > .text-box{
    background-color: var(--pink);
    border-color: var(--burgundy);
    box-shadow: 12px 12px 0px var(--burgundy), 15px 15px 0px var(--pink);
    margin-right: 30px;
}

.project > .text-box img {
    width: 25vw;
    border-radius: 15px;
    height: auto;
    min-width: 20vw;
}

.project:nth-of-type(2){
    padding-bottom: 100px;
}

.project{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 20px;
    padding-top: 50px;
}



.project-icons{
    display: block;
    color: var(--burgundy);
    text-align: right;
    font-size: 40px;
}

.project-github{
    color: var(--burgundy);
}

.project-text{
    padding-top: 30px;
    display:block;
}

.bright-highlight{
    color: var(--lemon);
    font-size: 30px;
}

.project-heading{
    margin: auto;
    width: 200px;
    font-size: 40px;
    padding-top: 100px;
    color:var(--burgundy);
    text-align: center;
}

@media screen and (max-width: 750px){
    .project > .text-box{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .project > .text-box{
        font-size: 14px;
    }
}


/***************************
    CONTACT SECTION
***************************/

.contact-section{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.contact-section h3{
    font-size: 40px;
    color: var(--burgundy);
    margin:auto;
    width: 250px;
    text-align: center;
    padding-bottom: 50px;
}

.text-box > form{
    width: 500px;
    margin: auto;
    padding:30px;
    font-size: 20px;
    color: var(--burgundy);

}

.name, .email, .message{
    background-color: var(--pink);
    border: solid 2px var(--burgundy);
    width: 30vw;
}

#fcf-button{
    width: 100px;
    background-color: var(--lemon);
    color: var(--burgundy);
    border: solid 2px var(--burgundy);
    margin-top: 10px;
}